PORT=

# nodemailer configuration
SMTP_HOST=
SMTP_PASS=
SMTP_USER=

# # redis configuration
# REDIS_URL=redis://localhost:6379

# upstash redis server
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# hugging face
HF_TOKEN=